
<div *ngIf="script">
    <h2><span jhiTranslate="autobotApp.script.detail.title">Script</span> {{script.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="autobotApp.script.descricao">Descricao</span></dt>
        <dd>
            <span>{{script.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.script.path">Path</span></dt>
        <dd>
            <span>{{script.path}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.script.plugin">Plugin</span></dt>
        <dd>
            <div *ngIf="script.plugin">
                <a [routerLink]="['/plugin', script.plugin?.id]">{{script.plugin?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'script/'+ script.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
