<div>
    <h2>
        <span jhiTranslate="autobotApp.script.home.title">Scripts</span>
        <button class="btn btn-primary float-right jh-create-entity create-script" [routerLink]="['/', { outlets: { popup: ['script-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="autobotApp.script.home.createLabel">
            Create new Script
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'autobotApp.script.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="scripts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="autobotApp.script.descricao">Descricao</span></th>
            <th><span jhiTranslate="autobotApp.script.path">Path</span></th>
            <th><span jhiTranslate="autobotApp.script.plugin">Plugin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let script of scripts ;trackBy: trackId">
                <td><a [routerLink]="['../script', script.id ]">{{script.id}}</a></td>
                <td>{{script.descricao}}</td>
                <td>{{script.path}}</td>
                <td>
                    <div *ngIf="script.plugin">
                        <a [routerLink]="['../plugin', script.plugin?.id ]" >{{script.plugin?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../script', script.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'script/'+ script.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'script/'+ script.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
