
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAtividadeLabel" data-translate="autobotApp.atividade.home.createOrEditLabel">Create or edit a Atividade</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.atividade.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.atividade.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="autobotApp.atividade.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.atividade.nome"
                    required ng-maxlength="80" />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="80">
                    This field cannot be longer than 80 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="autobotApp.atividade.comando" for="field_comando">Comando</label>
            <input type="text" class="form-control" name="comando" id="field_comando"
                    ng-model="vm.atividade.comando"
                    required ng-maxlength="100" />
            <div ng-show="editForm.comando.$invalid">
                <p class="help-block"
                    ng-show="editForm.comando.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.comando.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="autobotApp.atividade.pararNaFalha" for="field_pararNaFalha">Parar Na Falha</label>
            <input type="checkbox" class="form-control" name="pararNaFalha" id="field_pararNaFalha"
                    ng-model="vm.atividade.pararNaFalha"
                     />
        </div>

        <div class="form-group">
            <label data-translate="autobotApp.atividade.plano" for="field_plano">Plano</label>
            <select class="form-control" id="field_plano" name="plano" ng-model="vm.atividade.plano" ng-options="plano as plano.descricao for plano in vm.planos track by plano.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
