<div>
    <h2 data-translate="autobotApp.atividade.home.title">Atividades</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="atividade.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="autobotApp.atividade.home.createLabel">
                        Create new Atividade
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'autobotApp.atividade.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="autobotApp.atividade.nome">Nome</span></th>
                    <th><span data-translate="autobotApp.atividade.comando">Comando</span></th>
                    <th><span data-translate="autobotApp.atividade.pararNaFalha">Parar Na Falha</span></th>
                    <th><span data-translate="autobotApp.atividade.plano">Plano</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="atividade in vm.atividades track by atividade.id">
                    <td><a ui-sref="atividade-detail({id:atividade.id})">{{atividade.id}}</a></td>
                    <td>{{atividade.nome}}</td>
                    <td>{{atividade.comando}}</td>
                    <td>{{atividade.pararNaFalha}}</td>
                    <td>
                        <a ui-sref="plano-detail({id:atividade.plano.id})">{{atividade.plano.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="atividade-detail({id:atividade.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="atividade.edit({id:atividade.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="atividade.delete({id:atividade.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
