<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlanoLabel" jhiTranslate="autobotApp.plano.home.createOrEditLabel">Create or edit a Plano</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!plano.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="plano.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.plano.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="plano.descricao" required maxlength="80" />
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descricao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.plano.detalhes" for="field_detalhes">Detalhes</label>
            <input type="text" class="form-control" name="detalhes" id="field_detalhes"
                [(ngModel)]="plano.detalhes" maxlength="80" />
            <div [hidden]="!(editForm.controls.detalhes?.dirty && editForm.controls.detalhes?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.detalhes?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.plano.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="plano.tipo" id="field_tipo" >
                <option value="UNITARIO">{{'autobotApp.TipoPlano.UNITARIO' | translate}}</option>
                <option value="SEGURANCA">{{'autobotApp.TipoPlano.SEGURANCA' | translate}}</option>
                <option value="SISTEMA">{{'autobotApp.TipoPlano.SISTEMA' | translate}}</option>
                <option value="AMBIENTE">{{'autobotApp.TipoPlano.AMBIENTE' | translate}}</option>
                <option value="INTEGRACAO">{{'autobotApp.TipoPlano.INTEGRACAO' | translate}}</option>
                <option value="DESEMPENHO">{{'autobotApp.TipoPlano.DESEMPENHO' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.plano.projetos" for="field_projetos">Projetos</label>
            <select class="form-control" id="field_projetos" name="projetos" [(ngModel)]="plano.projetos" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projetoOption.id === plano.projetos?.id ? plano.projetos : projetoOption" *ngFor="let projetoOption of projetos; trackBy: trackProjetoById">{{projetoOption.descricao}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.plano.scripts" for="field_scripts">Scripts</label>
            <select class="form-control" id="field_scripts" name="scripts" [(ngModel)]="plano.scripts" >
                <option [ngValue]="null"></option>
                <option [ngValue]="scriptOption.id === plano.scripts?.id ? plano.scripts : scriptOption" *ngFor="let scriptOption of scripts; trackBy: trackScriptById">{{scriptOption.descricao}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
