<div>
    <h2>
        <span jhiTranslate="autobotApp.plano.home.title">Planos</span>
        <button class="btn btn-primary float-right jh-create-entity create-plano" [routerLink]="['/', { outlets: { popup: ['plano-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="autobotApp.plano.home.createLabel">
            Create new Plano
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'autobotApp.plano.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="autobotApp.plano.descricao">Descricao</span></th>
            <th><span jhiTranslate="autobotApp.plano.detalhes">Detalhes</span></th>
            <th><span jhiTranslate="autobotApp.plano.tipo">Tipo</span></th>
            <th><span jhiTranslate="autobotApp.plano.projetos">Projetos</span></th>
            <th><span jhiTranslate="autobotApp.plano.scripts">Scripts</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plano of planos ;trackBy: trackId">
                <td><a [routerLink]="['../plano', plano.id ]">{{plano.id}}</a></td>
                <td>{{plano.descricao}}</td>
                <td>{{plano.detalhes}}</td>
                <td jhiTranslate="{{'autobotApp.TipoPlano.' + plano.tipo}}">{{plano.tipo}}</td>
                <td>
                    <div *ngIf="plano.projetos">
                        <a [routerLink]="['../projeto', plano.projetos?.id ]" >{{plano.projetos?.descricao}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="plano.scripts">
                        <a [routerLink]="['../script', plano.scripts?.id ]" >{{plano.scripts?.descricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../plano', plano.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plano/'+ plano.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plano/'+ plano.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
