<div>

    <h2 translate="jhipsterApp.logExecute.home.title">LogExecutes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="logExecute.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jhipsterApp.logExecute.home.createLabel">Create a new LogExecute</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteLogExecuteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(logExecute.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="jhipsterApp.logExecute.delete.question" translate-values="{id: '{{logExecute.id}}'}">Are you sure you want to delete this LogExecute?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="jhipsterApp.logExecute.created">Created</th>
                    <th translate="jhipsterApp.logExecute.message">Message</th>
                    <th translate="jhipsterApp.logExecute.hostname">Hostname</th>
                    <th translate="jhipsterApp.logExecute.login">Login</th>
                    <th translate="jhipsterApp.logExecute.status">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logExecute in logExecutes">
                    <td><a ui-sref="logExecute.detail({id:logExecute.id})">{{logExecute.id}}</a></td>
                    <td>{{logExecute.created}}</td>
                    <td>{{logExecute.message}}</td>
                    <td>{{logExecute.hostname}}</td>
                    <td>{{logExecute.login}}</td>
                    <td>{{logExecute.status}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="logExecute.detail({id:logExecute.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="logExecute.edit({id:logExecute.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(logExecute.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
