<div>

    <h2 translate="jhipsterApp.logExecute.home.title">LogExecutes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="jhipsterApp.logExecute.created">Created</th>
                    <th translate="jhipsterApp.logExecute.message">Message</th>
                    <th translate="jhipsterApp.logExecute.hostname">Hostname</th>
                    <th translate="jhipsterApp.logExecute.login">Login</th>
                    <th translate="jhipsterApp.logExecute.status">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logExecute in logExecutes">
                    <td><a ui-sref="logExecute.detail({id:logExecute.id})">{{logExecute.created}}</a></td>
                    <td>{{logExecute.message}}</td>
                    <td>{{logExecute.hostname}}</td>
                    <td>{{logExecute.login}}</td>
                    <td>{{logExecute.status}}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
