
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExecutarPlanoLabel" translate="jhipsterApp.executarPlano.home.createOrEditLabel">Create or edit a ExecutarPlano</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="executarPlano.id" readonly>
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.executarPlano.criado" for="field_criado">Criado</label>
            <input type="datetime-local" class="form-control" name="criado" id="field_criado"
                    ng-model="executarPlano.criado" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.criado.$invalid">
                <p class="help-block"
                    ng-show="editForm.criado.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.criado.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.executarPlano.inicio" for="field_inicio">Inicio</label>
            <input type="datetime-local" class="form-control" name="inicio" id="field_inicio"
                    ng-model="executarPlano.inicio" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.executarPlano.finalizado" for="field_finalizado">Finalizado</label>
            <input type="datetime-local" class="form-control" name="finalizado" id="field_finalizado"
                    ng-model="executarPlano.finalizado" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label translate="jhipsterApp.executarPlano.atividade" for="field_atividade">atividade</label>
            
            <select class="form-control" id="field_atividade" name="atividade" ng-model="executarPlano.atividade" ng-options="atividade as atividade.id for atividade in atividades track by atividade.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
