
<div *ngIf="logExecutarPlano">
    <h2><span jhiTranslate="autobotApp.logExecutarPlano.detail.title">Log Executar Plano</span> {{logExecutarPlano.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="autobotApp.logExecutarPlano.criado">Criado</span></dt>
        <dd>
            <span>{{logExecutarPlano.criado | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.logExecutarPlano.finalizado">Finalizado</span></dt>
        <dd>
            <span>{{logExecutarPlano.finalizado | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.logExecutarPlano.mensagem">Mensagem</span></dt>
        <dd>
            <span>{{logExecutarPlano.mensagem}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.logExecutarPlano.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'autobotApp.Status.' + logExecutarPlano.status}}">{{logExecutarPlano.status}}</span>
        </dd>
        <dt><span jhiTranslate="autobotApp.logExecutarPlano.execucao">Execucao</span></dt>
        <dd>
            <div *ngIf="logExecutarPlano.execucao">
                <a [routerLink]="['/executar-plano', logExecutarPlano.execucao?.id]">{{logExecutarPlano.execucao?.descricao}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log-executar-plano/'+ logExecutarPlano.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
