<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLogExecutarPlanoLabel" jhiTranslate="autobotApp.logExecutarPlano.home.createOrEditLabel">Create or edit a Log Executar Plano</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!logExecutarPlano.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="logExecutarPlano.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.logExecutarPlano.criado" for="field_criado">Criado</label>
            <div class="input-group">
                <input id="field_criado" type="text" class="form-control" name="criado" ngbDatepicker  #criadoDp="ngbDatepicker" [(ngModel)]="logExecutarPlano.criado"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="criadoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.criado?.dirty && editForm.controls.criado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.criado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.logExecutarPlano.finalizado" for="field_finalizado">Finalizado</label>
            <div class="input-group">
                <input id="field_finalizado" type="text" class="form-control" name="finalizado" ngbDatepicker  #finalizadoDp="ngbDatepicker" [(ngModel)]="logExecutarPlano.finalizado"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="finalizadoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.logExecutarPlano.mensagem" for="field_mensagem">Mensagem</label>
            <input type="text" class="form-control" name="mensagem" id="field_mensagem"
                [(ngModel)]="logExecutarPlano.mensagem" maxlength="8000" />
            <div [hidden]="!(editForm.controls.mensagem?.dirty && editForm.controls.mensagem?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mensagem?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 8000 }">
                   This field cannot be longer than 8000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.logExecutarPlano.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="logExecutarPlano.status" id="field_status" >
                <option value="SUCESSO">{{'autobotApp.Status.SUCESSO' | translate}}</option>
                <option value="FALHA">{{'autobotApp.Status.FALHA' | translate}}</option>
                <option value="FALHA_TEMPORARIA">{{'autobotApp.Status.FALHA_TEMPORARIA' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="autobotApp.logExecutarPlano.execucao" for="field_execucao">Execucao</label>
            <select class="form-control" id="field_execucao" name="execucao" [(ngModel)]="logExecutarPlano.execucao" >
                <option [ngValue]="null"></option>
                <option [ngValue]="executarPlanoOption.id === logExecutarPlano.execucao?.id ? logExecutarPlano.execucao : executarPlanoOption" *ngFor="let executarPlanoOption of executarplanos; trackBy: trackExecutarPlanoById">{{executarPlanoOption.descricao}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
